@model AppClinicaDental.Models.Cita

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>


    <h4>Cita</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoPorAdelantado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoPorAdelantado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Procedimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Procedimiento)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoIva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoIva)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Cedula" />

        @*<input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>*@

        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Confirmar">Eliminar</button>

        @*modal de confirmacion*@
        <div id="Confirmar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="titulo" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="titulo">Confirmar Accion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"> <p>Desea eliminar la cita del cliente @Model.Nombre ?</p></div>
                    <div class="modal-footer">
                        <input type="submit" value="Aceptar" class="btn btn-danger" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>

            </div>

        </div>


    </form>

