@model AppClinicaDental.Models.Cita

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoPorAdelantado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoPorAdelantado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Procedimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Procedimiento)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoIva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoIva)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cedula">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
